In [11]:
import pandas as pd
import numpy as np

In [12]:
playersDf = pd.read_csv("merged_players.csv")
teamsWithWinDf = pd.read_csv("teamsWithWin.csv")
playersDf["person_id"] = playersDf["person_id"].astype(str)

In [13]:
# Now explode the dataframe
# Player id column is string for some reason, hence first convert into a list 
teamsWithWinDf.player_id = teamsWithWinDf.player_id.str[1:-1].str.split(',').tolist()
expandedTeamsWithWinDf = teamsWithWinDf.explode('player_id').reset_index()
expandedTeamsWithWinDf['player_id'] = expandedTeamsWithWinDf['player_id'].apply(lambda x: x.strip())

In [14]:

# teamsWithWinDf["player_id"][0]
expandedTeamsWithWinDf.player_id.dtype

dtype('O')

In [15]:
# Now join with the player stats
joinedTable = pd.merge(expandedTeamsWithWinDf, playersDf, left_on="player_id", right_on="person_id")
joinedTable

,index,Unnamed: 0_x,game_id,winning_team_abbr,team_id_x,player_id,Unnamed: 0_y,ilkid,first_name,last_name,...,playercode,from_year,to_year,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag
0,0,0,29600012,LAL,LAL,716,2055,ROBINRU01,rumeal,robinson,...,rumeal_robinson,1990.0,1996.0,N,Y,Y,1990,1,10,N
1,0,0,29600012,LAL,LAL,224,1237,JONESED01,eddie,jones,...,eddie_jones,1994.0,2007.0,N,Y,Y,1994,1,10,N
2,0,0,29600012,LAL,LAL,2,2153,SCOTTBY01,byron,scott,...,byron_scott,1983.0,1996.0,N,Y,Y,1983,1,4,N
3,0,0,29600012,LAL,LAL,89,2463,VANEXNI01,nick,van exel,...,nick_van exel,1993.0,2005.0,N,Y,Y,1993,2,37,N
4,0,0,29600012,LAL,LAL,965,741,FISHEDE01,derek,fisher,...,derek_fisher,1996.0,2013.0,N,Y,Y,1996,1,24,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261999,59635,59635,42200236,LAL,LAL,2544,1170,JAMESLE01,lebron,james,...,lebron_james,2003.0,2023.0,N,Y,Y,2003,1,1,Y
262000,59643,59643,42200312,DEN,LAL,2544,1170,JAMESLE01,lebron,james,...,lebron_james,2003.0,2023.0,N,Y,Y,2003,1,1,Y
262001,59659,59659,42200403,DEN,MIA,2617,1002,HASLEUD01,udonis,haslem,...,udonis_haslem,2003.0,2023.0,N,Y,Y,Undrafted,Undrafted,Undrafted,N
262002,59663,59663,32200001,GNS,LBN,2544,1170,JAMESLE01,lebron,james,...,lebron_james,2003.0,2023.0,N,Y,Y,2003,1,1,Y
262003,59665,59665,32200001,GNS,LBN,2544,1170,JAMESLE01,lebron,james,...,lebron_james,2003.0,2023.0,N,Y,Y,2003,1,1,Y

In [16]:
joinedTable["player_id"].nunique()

816

In [ ]:
joinedTable.to_csv("player_with_game_id.csv")