In [35]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz

In [138]:

teamsWithWinsDf = pd.read_csv("teamsWithWin.csv")
playerDf = pd.read_csv("Kaggle Data/player.csv")
playerOgDf = pd.read_csv("Data/players.txt")
teamsDf = pd.read_csv("Data/player_regular_season.txt")
kagglePlayerinfo = pd.read_csv("Kaggle Data/common_player_info.csv")

In [139]:
kagglePlayerinfo["birth_year"] = kagglePlayerinfo.apply(lambda x: x["birthdate"][0:4], axis=1)
kagglePlayerinfo['first_name'] = kagglePlayerinfo['first_name'].str.strip().str.lower()
kagglePlayerinfo['last_name'] = kagglePlayerinfo['last_name'].str.strip().str.lower()
kagglePlayerinfo['person_id'].nunique()

4171

In [140]:
# convert og player data's firstname lastname to lowercase
playerOgDf['firstname'] = playerOgDf['firstname'].str.lower().str.strip()
playerOgDf['lastname'] = playerOgDf['lastname'].str.lower().str.strip()
playerOgDf = playerOgDf.rename(columns={'firstname': 'first_name'})
playerOgDf = playerOgDf.rename(columns={'lastname': 'last_name'})
playerOgDf["birth_year"] = playerOgDf.apply(lambda x: str(x["birthdate"])[0:4], axis=1)
playerOgDf['ilkid'].nunique()

3572

In [141]:
# convert kaggle player data's firstname lastname to lowercase
playerDf['first_name'] = playerDf['first_name'].str.strip().str.lower()
playerDf['last_name'] = playerDf['last_name'].str.strip().str.lower()
playerDf["id"].nunique()

4831

In [142]:
# merge both the dataframes
# mergedPlayers = pd.merge(playerOgDf, playerDf, left_on=['firstname', 'lastname'], right_on=['first_name','last_name'])
# mergedPlayers[mergedPlayers['last_name'] == "able"]
mergedPlayers = playerOgDf.merge(kagglePlayerinfo, on=['first_name', 'last_name','birth_year'])
print("Total rows = "+str(len(mergedPlayers.index)))
print("Unique ilkid = "+ str(mergedPlayers["ilkid"].nunique()))
print("Unique id = "+ str(mergedPlayers["person_id"].nunique()))

mergedPlayers

Total rows = 2717
Unique ilkid = 2717
Unique id = 2717

,ilkid,first_name,last_name,position_x,firstseason,lastseason,h_feet,h_inches,weight_x,college,...,playercode,from_year,to_year,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag
0,ABDELAL01,alaa,abdelnaby,F,1990,1994,6.0,10.0,240.0,Duke,...,HISTADD_alaa_abdelnaby,1990.0,1994.0,N,Y,Y,1990,1,25,N
1,ABDULKA01,kareem,abdul-jabbar,C,1969,1988,7.0,2.0,225.0,UCLA,...,HISTADD_kareem_abdul-jabbar,1969.0,1988.0,N,Y,Y,1969,1,1,Y
2,ABDULTA01,tariq,abdul-wahad,G,1997,2002,6.0,6.0,223.0,Michigan,...,tariq_abdul-wahad,1997.0,2003.0,N,Y,Y,1997,1,11,N
3,ABDURSH01,shareef,abdur-rahim,F,1996,2004,6.0,9.0,225.0,California,...,shareef_abdur-rahim,1996.0,2007.0,N,Y,Y,1996,1,3,N
4,ABERNTO01,tom,abernethy,F,1976,1980,6.0,7.0,220.0,Indiana,...,HISTADD_tom_abernethy,1976.0,1980.0,N,Y,Y,1976,3,43,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2712,ZENOTO01,tony,zeno,F,1979,1979,6.0,8.0,210.0,Arizona State,...,HISTADD_tony_zeno,1979.0,1979.0,N,Y,Y,1979,2,32,N
2713,ZEVENPH01,phil,zevenbergen,F,1987,1987,6.0,10.0,230.0,Washington,...,HISTADD_phil_zevenbergen,1987.0,1987.0,N,Y,Y,1987,3,50,N
2714,ZIDEKGE01,george,zidek,C,1995,1997,7.0,0.0,250.0,UCLA,...,george_zidek,1995.0,1997.0,N,Y,Y,1995,1,22,N
2715,ZOETJI01,jim,zoet,C,1982,1982,7.0,1.0,240.0,Kent State,...,HISTADD_jim_zoet,1982.0,1982.0,N,Y,Y,Undrafted,Undrafted,Undrafted,N
2716,ZUNICMA01,matt,zunic,G,1948,1948,6.0,3.0,195.0,George Washington,...,HISTADD_matt_zunic,1948.0,1948.0,N,Y,Y,1947,NaN,NaN,N

In [151]:
teamsWithWinDf = pd.read_csv("teamsWithWin.csv")
teamsWithWinDf.player_id = teamsWithWinDf.player_id.str[1:-1].str.split(',').tolist()
expandedTeamsWithWinDf = teamsWithWinDf.explode('player_id').reset_index()
expandedTeamsWithWinDf["player_id"].nunique()
# playerDf["id"].nunique()

4358

In [14]:
# Find out which players did not merge
merged_df = pd.merge(playerOgDf, mergedPlayers, on='ilkid', how='left', indicator=True)
rows_only_in_playerOfDf = merged_df[merged_df['_merge'] == 'left_only']
rows_only_in_playerOfDf

# Dont know what to do with this. Seems like height, weight, etc are NaNs for this

,ilkid,firstname_x,lastname_x,position_x,firstseason_x,lastseason_x,h_feet_x,h_inches_x,weight_x,college_x,...,h_inches_y,weight_y,college_y,birthdate_y,id,full_name,first_name,last_name,is_active,_merge
2,ABDULMA01,mahmo,abdul-rauf,G,1990,2000,6.0,1.0,162.0,LSU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13,ADAMSGE01,george,adams,F,1972,1974,6.0,5.0,210.0,Gardner-Webb,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
19,AITCHMA01,matt,aitch,F,1967,1967,6.0,7.0,230.0,Michigan State,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
29,ALLENBI01,bill,allen,C,1967,1967,6.0,8.0,205.0,New Mexico State,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
36,ALLENWI01,willie,allen,F,1971,1971,6.0,6.0,230.0,Miami (FL),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3597,WRIGHHO01,howie,wright,G,1970,1971,6.0,3.0,185.0,Austin Peay,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3601,WRIGHLE01,leroy,wright,F,1967,1968,6.0,9.0,215.0,Pacific,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3602,WRIGHLO01,lonnie,wright,G,1967,1971,6.0,2.0,205.0,Colorado State,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3607,WUYCIDE01,dennis,wuycik,F,1972,1974,6.0,6.0,215.0,North Carolina,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3608,WYDNEAJ01,a.j.,wydner,G,1990,1990,6.0,2.0,180.0,Fairfield,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [152]:
mergedPlayers.to_csv("merged_players.csv")